<div class="main_container">
    <div class="card_container">
        <p-card>
            <ng-template pTemplate="subtitle">
                <h2 class="margin-0">Sign Up</h2>
            </ng-template>
            <div class="container" [formGroup]="signUpForm">
                <p-floatLabel class="floatLabel">
                    <input class="input_field_dimension" type="text" autocomplete="off" pInputText id="name"
                        formControlName="name" />
                    <label for="email">Name</label>
                </p-floatLabel>
                <p-floatLabel class="floatLabel">
                    <input class="input_field_dimension" type="text" autocomplete="off" pInputText id="email"
                        formControlName="email" />
                    <label for="email">Email</label>
                </p-floatLabel>
                <p-floatLabel class="floatLabel">
                    <input class="input_field_dimension" type="text" autocomplete="off" pInputText id="phone_number"
                        formControlName="phoneNumber" />
                    <label for="email">Phone Number</label>
                </p-floatLabel>
                <p-floatlabel class="floatLabel">
                    <p-password styleClass="full_width" id="password" [inputStyle]="{'height': '50px', 'width': '100%'}"
                        [style]="{'width': '100%'}" [toggleMask]="true" formControlName="password" />
                    <label for="over_label">Password</label>
                </p-floatlabel>
            </div>

            <div class="midLinks">By continuing, I agree to the <a href="/termsofuse">Terms of Use</a> &amp;
                <a href="/privacypolicy">Privacy Policy</a>
            </div>
            <ng-template pTemplate="footer">
                <div class="flex gap-4 mt-1">
                    <button pButton class="submit_button" pRipple label="Sign Up"
                        (click)="onSubmit(signUpForm.value)"></button>
                </div>
            </ng-template>
        </p-card>
    </div>

</div>
<p-toast />