<div class="main_container">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <ng-template pTemplate="subtitle">
            <h2 class="margin-0">Sign Up</h2>
        </ng-template>
        <div class="container" [formGroup]="signUpForm">
            <div class="floatLabel">
                <p-floatLabel>
                    <input type="text" autocomplete="off" pInputText id="email" formControlName="name" />
                    <label for="email">Name</label>
                </p-floatLabel>
            </div>
            <div class="floatLabel">
                <p-floatLabel>
                    <input type="text" autocomplete="off" pInputText id="email" formControlName="email" />
                    <label for="email">Email</label>
                </p-floatLabel>
            </div>
            <div class="floatLabel">
                <p-floatLabel>
                    <input type="text" autocomplete="off" pInputText id="email" formControlName="phoneNumber" />
                    <label for="email">Phone Number</label>
                </p-floatLabel>
            </div>
            <p-floatlabel class="floatLabel">
                <p-password styleClass="full_width" [inputStyle]="{'height': '50px', 'width': '100%'}"
                    [style]="{'width': '100%'}" [toggleMask]="true" formControlName="password" />
                <label for="over_label">Password</label>
            </p-floatlabel>
            <div class="midLinks">By continuing, I agree to the <a href="/termsofuse">Terms of Use</a> &amp;
                <a href="/privacypolicy">Privacy Policy</a>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <div class="flex gap-4 mt-1">
                <button pButton pRipple label="Sign Up" (click)="onSubmit(signUpForm.value)"></button>
            </div>
        </ng-template>
    </p-card>
</div>