<div class="card">
    <form [formGroup]="RentPropertyListingForm">
        <p-stepper [value]="1">
            <p-step-item [value]="1">
                <p-step>Header I</p-step>
                <p-step-panel>
                    <ng-template #content let-activateCallback="activateCallback">
                        <div formGroupName="propertyFullAddress" class="flex_row flex-wrap flex_gap">
                            @for (formData of propertyFullAddressFormData; track formData?.id) {
                            <div>
                                @let formControl
                                =RentPropertyListingForm.get('propertyFullAddress')?.get(formData.control);
                                <input [placeholder]="formData.placeholder" type="text" pInputText
                                    [formControlName]="formData.control"
                                    [ngClass]="{'ng-invalid ng-dirty': formControl?.touched && formControl?.invalid}" />
                            </div>
                            }
                        </div>
                        <div class="py-6" style="margin: 24px 0px 0px 0px;">
                            <p-button [disabled]="RentPropertyListingForm.get('propertyFullAddress')?.invalid"
                                [style]="{'margin-top': '16px'}" label="Next" (onClick)="activateCallback(2)" />
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-item>

            <p-step-item [value]="2">
                <p-step>Header II</p-step>
                <p-step-panel>
                    <ng-template #content let-activateCallback="activateCallback">
                        <div formGroupName="propertyDetails" class="flex_row flex-wrap flex_gap">
                            @for (formData of propertyDetailsFormInputData; track formData?.id) {
                            <div>
                                <input [placeholder]="formData.placeholder" type="text" pInputText
                                    [formControlName]="formData.control" />
                            </div>
                            }
                            @for (propertyDetailsFormSelect of propertyDetailsFormSelectData; track
                            propertyDetailsFormSelect.id) {
                            <div>
                                <p-select appendTo="body" [formControlName]="propertyDetailsFormSelect.control"
                                    [options]="propertyDetailsFormSelect.values" optionLabel="name"
                                    [placeholder]="propertyDetailsFormSelect.placeholder" class="w-full md:w-56" />
                            </div>
                            }
                        </div>
                        <div class="flex py-6 gap-2" style="margin: 24px 0px 0px 0px;">
                            <p-button [style]="{'margin-right': '12px',}" label="Back" severity="secondary"
                                (onClick)="activateCallback(1)" />
                            <p-button [disabled]="RentPropertyListingForm.get('propertyDetails')?.invalid" label="Next"
                                (onClick)="activateCallback(3)" />
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-item>

            <p-step-item [value]="3">
                <p-step>Header III</p-step>
                <p-step-panel>
                    <ng-template #content let-activateCallback="activateCallback">
                        <div formGroupName="propertyAmnities" class="">
                            <div class="flex_row flex-wrap flex_justify_between">
                                <div>
                                    Water Supply Available
                                </div>
                                <div>
                                    <p-toggleswitch formControlName="waterSupply" />
                                </div>
                            </div>
                            <div class="flex_row flex-wrap flex_justify_between">
                                <div>
                                    Attached bathroom available
                                </div>
                                <div>
                                    <p-toggleswitch formControlName="attachedBathroom" />
                                </div>
                            </div>
                            <div class="flex_row flex-wrap flex_justify_between">
                                <div>
                                    Gated Society
                                </div>
                                <div>
                                    <p-toggleswitch formControlName="security" />
                                </div>
                            </div>
                            <div class="flex_row flex-wrap flex_justify_between">
                                <div>
                                    Lift Available
                                </div>
                                <div>
                                    <p-toggleswitch formControlName="lift" />
                                </div>
                            </div>
                        </div>
                        <div class="py-6">
                            <p-button [style]="{'margin-top': '16px', 'margin-right':'12px'}" label="Back"
                                severity="secondary" (onClick)="activateCallback(2)" />
                            <p-button [disabled]="RentPropertyListingForm.get('propertyAmnities')?.invalid"
                                label="Submit" (onClick)="onSubmit();activateCallback(3)" />
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-item>
        </p-stepper>
    </form>
</div>