<div class="card">
    <form [formGroup]="RentPropertyListingForm">
        <p-stepper [value]="1">
            <p-step-item [value]="1">
                <p-step>Header I</p-step>
                <p-step-panel>
                    <ng-template #content let-activateCallback="activateCallback">
                        <div>
                            <input type="text" pInputText formControlName="propertyCityName" />
                        </div>
                        <div formGroupName="propertyFullAddress" class="flex_row flex-wrap flex_gap">
                            <div>
                                <input placeholder="Enter house number" type="text" pInputText
                                    formControlName="houseNumber">
                            </div>

                            <div>
                                <input placeholder="Enter street" type="text" pInputText formControlName="street">
                            </div>

                            <div>
                                <input placeholder="Enter area" type="text" pInputText formControlName="area">
                            </div>

                            <div>
                                <input placeholder="Enter city" type="text" pInputText formControlName="city">
                            </div>

                            <div>
                                <input placeholder="Enter state" type="text" pInputText formControlName="state">
                            </div>

                            <div>
                                <input placeholder="Enter country" type="text" pInputText formControlName="country">
                            </div>

                            <div>
                                <input placeholder="Enter pincode" type="text" pInputText formControlName="pincode">
                            </div>

                            <div>
                                <input placeholder="Enter landmark" type="text" pInputText formControlName="landmark">
                            </div>

                            <div>
                                <input placeholder="Enter latitude" type="text" pInputText formControlName="latitude">
                            </div>

                            <div>
                                <input placeholder="Enter longitude" type="text" pInputText formControlName="longitude">
                            </div>
                        </div>
                        <div class="py-6">
                            <p-button [style]="{'margin-top': '16px'}" label="Next" (onClick)="activateCallback(2)" />
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-item>

            <p-step-item [value]="2">
                <p-step>Header II</p-step>
                <p-step-panel>
                    <ng-template #content let-activateCallback="activateCallback">
                        <div formGroupName="propertyDetails" class="flex_row flex-wrap flex_gap">
                            <div>
                                <input placeholder="Enter property name" type="text" pInputText
                                    formControlName="propertyName">
                            </div>

                            <div>
                                <input placeholder="Enter property description" type="text" pInputText
                                    formControlName="propertyDescription">
                            </div>

                            <div>
                                <input placeholder="Enter property owner" type="text" pInputText
                                    formControlName="propertyOwner">
                            </div>

                            <div>
                                <input placeholder="Enter property posted by" type="text" pInputText
                                    formControlName="propertyPostedBy">
                            </div>

                            <div>
                                <input placeholder="Enter property cost" type="text" pInputText
                                    formControlName="propertyCost">
                            </div>

                            <div>
                                <input placeholder="Enter availability" type="text" pInputText
                                    formControlName="availability">
                            </div>
                            <div>
                                <p-select [panelStyle]="{ 'height': '120px','overflow-y': 'auto'}"
                                    formControlName="bhkType" [options]="bhktypeValues" optionLabel="name"
                                    placeholder="Select a Bhk" class="w-full md:w-56" />
                            </div>
                            <div>
                                <p-select [panelStyle]="{ 'height': '120px','overflow-y': 'auto'}"
                                    formControlName="propertyType" [options]="propertypeValues" optionLabel="name"
                                    placeholder="Select a property type" class="w-full md:w-56" />
                            </div>

                            <div>
                                <input placeholder="Enter security deposit" type="text" pInputText
                                    formControlName="propertySecurityDeposit">
                            </div>

                            <div>
                                <input placeholder="Enter Covered Area" type="text" pInputText
                                    formControlName="propertyCoveredArea">
                            </div>

                            <div>
                                <p-select [panelStyle]="{ 'height': '120px','overflow-y': 'auto'}"
                                    formControlName="propertyPreferredTenants"
                                    [options]="propertyPreferredTenantsValues" optionLabel="name"
                                    placeholder="Select a tenants" class="w-full md:w-56" />
                            </div>

                            <div>
                                <p-select [panelStyle]="{ 'height': '120px','overflow-y': 'auto'}" formControlName="furnishingStatus"
                                    [options]="furnishingStatusValues" optionLabel="name" placeholder="Select a furnishing status"
                                    class="w-full md:w-56" />
                            </div>

                            <div>

                                <p-select formControlName="propertyFacing"
                                    [options]="propertyFacingValues" optionLabel="name" placeholder="Select a property facing"
                                    class="w-full md:w-56" />
                            </div>

                            <div>
                                <input placeholder="Enter total bathroom" type="text" pInputText
                                    formControlName="propertTotalBathroom">
                            </div>

                            <div>
                                <p-select formControlName="propertyParking" [options]="propertyParkingValues" optionLabel="name"
                                    placeholder="Select a property parking" class="w-full md:w-56" />
                            </div>

                            <div>
                                <input placeholder="Enter Floors" type="text" pInputText
                                    formControlName="propertyFloors">
                            </div>
                        </div>
                        <div class="flex py-6 gap-2">
                            <p-button [style]="{'margin-top': '16px','margin-right':'12px'}" label="Back"
                                severity="secondary" (onClick)="activateCallback(1)" />
                            <p-button [style]="{'margin-top': '16px'}" label="Next" (onClick)="activateCallback(3)" />
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-item>

            <p-step-item [value]="3">
                <p-step>Header III</p-step>
                <p-step-panel>
                    <ng-template #content let-activateCallback="activateCallback">
                        <div formGroupName="propertyAmnities" class="">
                            <div class="flex_row flex-wrap flex_justify_between">
                                <div>
                                    Water Supply Available
                                </div>
                                <div>
                                    <p-toggleswitch formControlName="waterSupply" />
                                </div>
                            </div>
                            <div class="flex_row flex-wrap flex_justify_between">
                                <div>
                                    Attached bathroom available
                                </div>
                                <div>
                                    <p-toggleswitch formControlName="attachedBathroom" />
                                </div>
                            </div>
                            <div class="flex_row flex-wrap flex_justify_between">
                                <div>
                                    Gated Society
                                </div>
                                <div>
                                    <p-toggleswitch formControlName="security" />
                                </div>
                            </div>
                            <div class="flex_row flex-wrap flex_justify_between">
                                <div>
                                    Lift Available
                                </div>
                                <div>
                                    <p-toggleswitch formControlName="lift" />
                                </div>
                            </div>
                        </div>
                        <div class="py-6">
                            <p-button [style]="{'margin-top': '16px'}" label="Back" severity="secondary"
                                (onClick)="activateCallback(2)" />
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-item>
        </p-stepper>
    </form>
</div>