<div class="card">
    <p-toast />
    @let showDragDropIcon = (this.uploadedFilesToS3 && this.uploadedFilesToS3.length > 0) ? false : true;
    <p-fileupload #fileUpload fileLimit="5" name="files" [url]="uploadFilesUrl" [multiple]="true" accept="image/*"
        (onSelect)="onSelectedFiles($event)" [customUpload]="true" (uploadHandler)="uploadHandler($event)">
        <ng-template #header let-files let-chooseCallback="chooseCallback" let-uploadCallback="uploadCallback">
            <div class="flex flex-wrap justify-between items-center flex-1 gap-4">
                <div class="flex gap-2">
                    <p-button (onClick)="choose($event, chooseCallback)" icon="pi pi-images" [rounded]="true"
                        [outlined]="true" />
                    <p-button (onClick)="uploadEvent(uploadCallback)" icon="pi pi-cloud-upload" [rounded]="true"
                        [outlined]="true" severity="success" [disabled]="!files || files.length === 0" />
                    <p-button (onClick)="onRemoveFiles($event)" icon="pi pi-times" [rounded]="true" [outlined]="true"
                        severity="danger" [disabled]="removeLocalFilesIndex.length === 0 && removeFiles.length===0" />
                </div>
            </div>
        </ng-template>
        <ng-template #content let-files>
            <div class="flex flex-col gap-8 pt-4">
                <div *ngIf="files?.length > 0">
                    <h5>Pending</h5>
                    <div class="flex flex-wrap gap-4">
                        <div *ngFor="let file of files; let i = index"
                            class="p-8 rounded-border flex flex-col border border-surface items-center gap-4">
                            <div class="image-container">
                                <div>
                                    <p-checkbox [inputId]="file.fileName" [name]="file.fileName" [value]="i"
                                        [(ngModel)]="removeLocalFilesIndex" />
                                </div>
                                <label [for]="file.fileName" class="ml-2">
                                    <img role="presentation" [alt]="file.name" [src]="file?.objectURL" fill />
                                </label>
                            </div>
                            <span class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden">{{
                                file.name }}</span>
                            <div>{{ formatSize(file.size) }}</div>
                            <p-badge value="Pending" severity="warn" />
                        </div>
                    </div>
                </div>
                <div *ngIf="(uploadedFilesToS3?.length ?? 0) > 0">
                    <div class="flex justify-between">
                        <h5>Completed</h5>
                    </div>
                    <div class="flex flex-wrap gap-4">
                        <div *ngFor="let file of uploadedFilesToS3; let i = index"
                            class="card m-0 px-12 flex flex-col border border-surface items-center gap-4">
                            <div class="image-container">
                                <div>
                                    <p-checkbox [inputId]="file.fileName" [name]="file.fileName" [value]="file"
                                        [(ngModel)]="removeFiles" />
                                </div>
                                <label [for]="file.fileName" class="ml-2">
                                    <img role="presentation" [alt]="file.fileName" [ngSrc]="file.url" fill
                                        style="object-fit: cover;" />
                                </label>
                            </div>
                            <span class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden">{{
                                file.fileName }}</span>
                            <div>{{ formatSize(file?.fileSize ?? 0) }}</div>
                            <p-badge value="Completed" class="mt-4" severity="success" />
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #file></ng-template>
        <ng-template #empty>
            @if (showDragDropIcon) {
            <div class="flex items-center justify-center flex-col">
                <i class="pi pi-cloud-upload !border-2 !rounded-full !p-8 !text-4xl !text-muted-color"></i>
                <p class="mt-6 mb-0">Drag and drop files to here to upload.</p>
            </div>
            }
        </ng-template>
    </p-fileupload>
</div>
<app-confirmation-popup #confirmPopUp />