<div class="main_container">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <ng-template pTemplate="subtitle">
            <h2 class="margin-0">Reset Password</h2>
        </ng-template>
        <div class="container" [formGroup]="resetPasswordForm">
            <div class="floatLabel">
                <p-floatLabel>
                    <p-password styleClass="full_width" [inputStyle]="{'height': '50px', 'width': '100%'}"
                        [style]="{'width': '100%'}" [toggleMask]="true" formControlName="password" />
                    <label for="password">New Password</label>
                </p-floatLabel>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <div class="flex gap-4 mt-1">
                <button pButton pRipple label="Submit" (click)="onSubmit()"></button>
            </div>
        </ng-template>
    </p-card>
</div>
<p-toast />