<div class="container">
    <p-table #dt [resizableColumns]="true" showGridlines styleClass="table-vertical-borders" [columns]="selectedColumns"
        [value]="products" [exportHeader]="'customExportHeader'" [paginator]="true" [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template #caption>
            <div class="flex_row flex_justify_between flex_align_center">
                <div>
                    <p-multiselect optionLabel="name" [maxSelectedLabels]="4"
                        [display]="selectedColumns.length> 2 ? 'comma':'chip'" [options]="cols"
                        [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="{0} columns selected"
                        [style]="{ 'min-width': '200px' }" placeholder="Choose Columns" />
                </div>
                <div>
                    <p-button label="Create rent Listing" icon="pi pi-plus-circle" (onClick)="createRentListing()" />
                    <p-button icon="pi pi-external-link" label="Export" (click)="dt.exportCSV()"
                        [style]="{'margin-left': '12px'}" />
                </div>
            </div>
        </ng-template>
        <ng-template #header let-columns>
            <tr>
                <th pResizableColumn pSortableColumn="code" style="width:5%">
                    Code <p-sortIcon field="code" />
                </th>
                @for (col of columns; track $index) {
                <th [pSortableColumn]="col.field" pResizableColumn>
                    {{ col.header }} <p-sortIcon [field]="col.field" />
                </th>
                }
                <th pResizableColumn>Action</th>
            </tr>
        </ng-template>
        <ng-template #body let-product let-columns="columns" let-index="rowIndex">
            <tr>
                <td>{{ index+1 }}</td>
                @for (col of columns; track $index) {
                <td>
                    {{ product?.propertyFullAddress[col?.propertyName] || product?.propertyDetails[col?.propertyName] }}
                </td>
                }
                <td>
                    <p-splitbutton #splitBtn [raised]="true" [appendTo]="'body'" label="View" icon="pi pi-eye"
                        dropdownIcon="pi pi-cog" [model]="items" (onDropdownClick)="getTableRowIndex(index)" />
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>

<app-delete-rent-listing #deleteRentListingComponentRef/>